/*--------------------------------------------------------- 
# Polices et Couleurs
---------------------------------------------------------*/

@font-face {
    font-family: "Drunk_N_proud";
    src: url(../fonts/drunk_proud/Drunk\ &\ Proud.otf) format("opentype");
}

@font-face {
    font-family: "hug_me_tight";
    src: url(../fonts/hug_me_tight/Hug\ Me\ Tight\ -\ OTF.otf) format("opentype");
}

:root {
    --Anubis: #050609;
    --Crazy_Diamonds: #210124;
    --Six_Pistols: #8E443D;
    --Magicians_Red: #931F1D;
    --Echoes: #5C6F68;
    --Silver_Chariot: #FFFAFF;
}

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/arrière_plan_lune.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

section {
    width: 100vw;
    height: 100vh;
}

/*---------------------------------------------------------- 
# Intro
----------------------------------------------------------*/ 

header h1 {
    font-family: "Drunk_N_proud";
    letter-spacing: 5px;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 0px var(--Silver_Chariot), -1px 0px var(--Silver_Chariot), 0px 1px var(--Silver_Chariot), 0px -1px var(--Silver_Chariot);
}

#start_credit {
    position: absolute;
    bottom: 10px;
    left: 0;
    max-width: 850px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "hug_me_tight";
}

#call_to_action {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateY(-50%);
    width: 10vw;
    height: 5vh;
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "hug_me_tight";
    text-align: center;
    opacity: 0;
}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

#Simple_reve {
    background-image: url(../img/img_arriere_plan/maison_start.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------- 
# Chapitre 2 et Chapitre 3
----------------------------------------------------------*/ 

#La_figure {
    background-image: url(../img/img_arriere_plan/foret_drette.png);
    background-repeat: no-repeat;
    background-size: cover;
}


#Danger_mortel {

}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 

#Sans_echapatoire {
    background-image: url(../img/img_arriere_plan/foret_curvy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 

#Fin_abrusque {
    background-image: url(../img/img_arriere_plan/foret_parallele.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 

#Reveil_brutal {
    background-image: url(../img/img_arriere_plan/);
    background-repeat: no-repeat;
    background-size: cover;
}
