/*--------------------------------------------------------- 
# Polices et Couleurs
---------------------------------------------------------*/

@font-face {
    font-family: "Drunk_N_proud";
    src: url(../fonts/drunk_proud/Drunk\ &\ Proud.otf) format("opentype");
}

@font-face {
    font-family: "hug_me_tight";
    src: url(../fonts/hug_me_tight/Hug\ Me\ Tight\ -\ OTF.otf) format("opentype");
}

:root {
    --Anubis: #050609;
    --Crazy_Diamonds: #210124;
    --Six_Pistols: #8E443D;
    --Magicians_Red: #931F1D;
    --Echoes: #5C6F68;
    --Silver_Chariot: #FFFAFF;
}

/*---------------------------------------------------------- 
# Animations
----------------------------------------------------------*/ 

@keyframes clouding {
    from {background-position: 0 0;}
    to {background-position: -12000% 0;}
}

@keyframes girling {
    from {background-position: 0 0;}
    to {background-position: -2600% 0;}
}

#cloudy_meadows {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    height: 20%;
    aspect-ratio: 1/1;
    max-width: 273px;
    background-image: url(../img/img_elements_visuels/Spritesheet_cloud.png);
    background-size: 12000% 100%;
    animation-name: clouding;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(120);
    animation-play-state: paused;
}

#seek_girl {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    aspect-ratio: 1/1;
    background-image: url(../img/img_elements_visuels/spritesheet_girl_walking.png);
    background-size: 2600% 100%;
    animation-name: girling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(26);
    animation-play-state: paused;
}

#is_spitesheath {
    background-color: #050609;
    height: 3000px;
}

.is-scrolling > #cloudy_meadows {
    animation-play-state: running;
}

.is-scrolling > #seek_girl {
    animation-play-state: running;
}

/*--------------------------------------------------------- 
# Styles Généraux 
---------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/img_arriere_plan/arrière_plan_lune.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    overflow: hidden;
}

section {
    width: 100vw;
    height: 100vh;
    border-top: 1px red solid;
}

/*---------------------------------------------------------- 
# Intro
----------------------------------------------------------*/ 

header h1 {
    font-family: "Drunk_N_proud";
    letter-spacing: 5px;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 0px var(--Silver_Chariot), -2px 0px var(--Silver_Chariot), 0px 2px var(--Silver_Chariot), 0px -2px var(--Silver_Chariot);
}

#start_credit {
    position: absolute;
    bottom: 10px;
    left: 0;
    max-width: 850px;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "hug_me_tight";
}

#call_to_action {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    letter-spacing: 1px;
    font-family: "hug_me_tight";
    text-align: center;
    opacity: 0;
    text-shadow: 2px 0px var(--Silver_Chariot), -2px 0px var(--Silver_Chariot), 0px 2px var(--Silver_Chariot), 0px -2px var(--Silver_Chariot);
}

#header_black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}

#header_brown {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}

/*---------------------------------------------------------- 
# Chapitre 1
----------------------------------------------------------*/ 

#Simple_reve {
    background-image: url(../img/img_arriere_plan/maison_start.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

/*---------------------------------------------------------- 
# Chapitre 2 et Chapitre 3
----------------------------------------------------------*/ 

#La_figure {
    background-image: url(../img/img_arriere_plan/foret_drette.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*
#Danger_mortel {

}

/*---------------------------------------------------------- 
# Chapitre 4
----------------------------------------------------------*/ 

#Sans_echapatoire {
    background-image: url(../img/img_arriere_plan/foret_curvy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

/*---------------------------------------------------------- 
# Chapitre 5
----------------------------------------------------------*/ 

#Fin_abrusque {
    background-image: url(../img/img_arriere_plan/foret_parallele.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*---------------------------------------------------------- 
# Chapitre 6
----------------------------------------------------------*/ 

#Reveil_brutal {
    background-image: url(../img/img_arriere_plan/);
    background-repeat: no-repeat;
    background-size: cover;
}
